.c-nav {
    & .container {
        
        @include media-breakpoint-down(lg) {
            width: 100% !important;
            max-width: none !important;
        }
    }
    &__checkbox {
        width: 2rem;
        height: 1.5rem;
        cursor: pointer;
        position: absolute;
        top: 2.5rem;
        z-index: 6666;
        right: 1rem;
        opacity: 0;
        display: block;
        &:checked ~ .c-nav__container {
            transform: none;
            z-index: -5;
        }
        @include media-breakpoint-up(lg) {
            display: none;
        }
    }
    &__box {
        display: flex;
        flex-direction: column;
        gap: .3rem;
        position: absolute;
        top: 2.5rem;
        right: 1rem;
        width: 2rem;
        padding: 0;
    }
    &__bar {
        display: block;
        width: 2rem;
        height: .2rem;
        border-radius: .2rem;
        background-color: black;
        @include media-breakpoint-up(lg) {
            display: none;
        }
    }
    &__container {
        position: relative;
        display: flex;
        justify-content: flex-end;
        padding-top: 2rem;
        z-index: 15;
        & ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 4rem;
        }
        & a {
            color: black;
            font-size: 20px;
            font-weight: $fw-medium;
            &:hover {
                color: #FF0000;
            }
        }
        @include media-breakpoint-down(lg) {
            padding: 2rem;
            transform: translateY(-30rem);
            background-color: #0A1760;
            box-shadow: 1px 3px 3px #0a1760b1;
            transition: all ease-in-out .2s;
            position: absolute;
            right: 0;
            & ul {
                margin-top: 5rem;
                width: 100%;
                padding: 0;
                gap: 6rem;
                flex-direction: column;
                justify-content: start;
            }
            & a {
                color: white;
            }
        }
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }
    &__title {
        position: relative;
        z-index: 1;
        padding-top: 2rem;
        color: black;
        font-weight: $fw-regular;
        text-transform: uppercase;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        letter-spacing: .5rem;
        &-link {
            color: black;
            &:hover {
                color: #FF0000;
            }
        }
        
    }
}