{% extends "index" %}


{% block content %}


 <!-- about section -->
    <section class="c-about">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>{{ entry.aboutTitle }}</h1>
                    <p>{{ entry.aboutText }}</p>   
                </div>
            </div>
        </div>

    </section>

{% endblock %}